@import "tailwindcss";

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: #1e293b; /* Dark Gray */
    border-radius: 10px;
  }
  
  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: gray; /* Blue */
    border-radius: 10px;
  }
  
  /* Hover effect on thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; /* Darker Blue */
  }
  